$primary_color: #468007;
$secondary_color: #b1bb10;
$tertiary_color: #ffb9c2;
$quaternary_color: #80ed99;
$quinary_color: #c7f9cc;


.body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

.heading{
    font-size: 2rem;
    color: $secondary_color;
    font-weight: 600;
    padding: 30px;

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
  }

.logo{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

  #logoPfp{
    width: 50%;
  }

  a{
    position: relative;
    padding: 4px;
    text-decoration: none;
    color: $secondary_color;
    margin: 0 50px;

    transition: all 0.3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: $tertiary_color;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: darken($primary_color, 10%);
    }
  }
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

    img{
        width: 500px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: transform 0.2s ease-in-out;
        &:hover {
        transform: scale(1.05);
        }
    }
}

.biography{
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    flex-direction: row;
    gap: 20px;


  .bio-img{
    width: 40%;
  }


  #description {
    width: 50%;
    padding: 20px;
    font-size: 1.2rem;
    color: $secondary_color;
    line-height: 1.5;
    text-align: justify;
    font-weight: bold;

  }
}

