.body {
    background-color: #b5c49c;
}

.card{
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    width: 40em;


}
.Header{
    text-align: center;
    font-family: "Lucida Fax"
}

.description .btn{
    border-radius: 15px;
    width: 60px;
}

.description .links{
    margin: 30px;
}


.tos-list{
   text-align: left;
}

.tos-list li {
    padding: 5px;
}

.footer{
    margin-top: 50px;
}

.footer p{
    font-size: 13px;
}

#clock{
    font-size: 15px;

    text-align: center;
    margin-top: 10px;
}