.main_card{
    background-color: #e6ffdf;
    text-align: center;
    margin: 0 auto;
    float: none;

    width: 700px;
    border-radius: 30px;
    border-style: solid ;
    border-width: 0.2rem;
    border-color: #ffffff;
    box-shadow: 0 1px 9px #c6fff3;
    position: relative;
}
.body{
    background: url("https://i.pinimg.com/564x/91/20/7f/91207f6910f2954a96058faea84e1304.jpg");
}
.text{
    padding: 10px;
    font-weight: bold;
    font-family: "Segoe UI Black";
    color: #37a87d;
    text-shadow: 1px 0 2px #22aacb;

}

.header{
    color: #2fbba1;
    text-shadow: 1px 1px 4px #74f6a2;
    font-size: 60px;
   background-color: white;
    margin: 0 100px 0 100px;
    box-shadow:  0 1px 10px #4fe7c8;
    border-radius: 10px;
    padding: 9px;
}

.divider{
    border-bottom: 8px dashed #61b98a;
    width: 550px;
    text-align: center;
    margin: 0 auto;
    float: none;

}

.listing{
    padding-top: 20px;
    text-align: left;
    padding-left: 60px;
    line-height: 0.7;
    padding-bottom: 10px;
    font-size: 30px;
}

.bio-text{
    font-size: 25px;
    padding: 30px;
}

.links a{
    color: #116b59;
    font-size: 40px;
    padding: 10px;
}

.text_divider{
    text-shadow: 0 3px 5px #116b59;
}


.buttons{
    background-color: #51bd7c;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttons:hover,
.buttons:focus {
    background-color: #6beca4;
}

.comminfo{
    height: 700px;
}
.comminfo .header{
    margin: 20px;
    font-size: 40px;
}
#gummi{

    width: 700px;
    position: absolute;
    right: 480px;
    filter: drop-shadow(3px 3px 3px #8cff7a);

    animation: MoveUpDown 1s linear infinite;
}

#apkin{
    position: absolute;
    width: 400px;
    left: 610px;
    filter: drop-shadow(3px 3px 3px #8cff7a);
    animation: MoveUpDown 1s linear infinite;

}

@keyframes MoveUpDown {
    0%, 100%{
        bottom: -10px;

    }
    50%{
        bottom: -5px;
    }
}

